    body {
        overflow-x: hidden;
        font-family: sans-serif;
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
        height: 100vh;
        color: #333;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        background-color: white;
    }

    #logo {
        width: 20%;
        font-size: 20px;
        color: #333;
    }

    #logo i {
        width: 40px;
        height: 30px;
    }

    #search {
        width: 80%;
        padding: 10px;
        border: none;
        border-radius: 20px;
    }

    #search .search-bar {
        width: 73%;
        height: 40px;
        border: none;
        background-color: rgba(161, 159, 159, 0.341);
        border-radius: 10px;
    }

    #profile {
        display: block;
        text-align: center;

    }

    #title-bar {
        display: block;
        /* flex-direction: row;
        align-items: center; */
        width: 100%;
        position: relative;
    }

    #title-bar .day {
        position: absolute;
        left: 400px;

    }

    #container-full {
        padding-top: 10px;
        display: flex;
        width: 100%;
        height: 150px;
        margin-top: 50px;
    }

    #container-full .empty {
        width: 20%;
        height: 100%;
    }

    #container-full .container {
        display: flex;
        width: 65%;
        height: 100%;
    }

    .container .image-src {
        width: 10%;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, 0.184);
        border-radius: 10px;
        position: relative;

    }

    .container .image-src img {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 18px;
        top: 30px;
    }

    .container .description {
        padding-left: 20px;
        border: 1px solid rgba(0, 0, 0, 0.184);
        border-radius: 10px;
        width: 80%;
        height: 100%;
    }
    /* .container .description img{
        display: flex;
        width: 10px;
        float: right;
        height: 20px;
    } */



    /*
        02/04/20024
    */

    /* Popup container */
    .popup {
        position: relative;
        display: none;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(150%, -50%);
        background-color: #f1f1f1;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        z-index: 1;
    }

    /* Overlay */
    .overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

    /* Button style */
    .btn {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 10px;
        height: 18px;
    }

    /* Button hover effect */
    .btn:hover {
        background-color: #0056b3;
    }

    /* Show popup when anchor link is targeted */
    #popup:target {
        display: block;
    }

    /* Show overlay when anchor link is targeted */
    #overlay:target {
        display: block;
    }

    .fly{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .xmark{
        position: absolute;
        top: 10px;
        right: 10px;
    }